// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// breadcrumb variables
$breadcrumb-divider: ">";
$breadcrumb-divider-color: #6c757d;
$breadcrumb-active-color: #6c757d;
$breadcrumb-bg: #e9ecef;
$breadcrumb-radius: 0.25rem;
$breadcrumb-padding-y: 0.75rem;
$breadcrumb-padding-x: 1rem;
$breadcrumb-item-padding: 0.5rem;
$border-radius: 0.25rem;